@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: #000814;
	color: white;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.movie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie {
	position: relative;
	background-color: #212529;
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 1rem;
	width: 300px;
}

.movie img {
	object-fit: cover;
	height: 450px;
	width: 100%;
}

.movie-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 0.5px;
}

.movie-info h3 {
	padding: 0;
}

.movie-over {
	background-color: #d3d3d3;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	color: #000814;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	max-height: 100%;
	transform: translateY(102%);
	transition: all 0.3s ease-in-out;
}

.movie:hover .movie-over {
	transform: translateY(0%);
}

.search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #212529;
	padding: 1rem;
	max-height: 4.8rem;
}

.search h1 {
	color: #d3d3d3;
}

.search input {
	font-family: inherit;
	font-size: 1.2rem;
	background-color: transparent;
	border: 2px solid #000814;
	border-radius: 50px;
	color: #d3d3d3;
	padding: 0.5rem 1.5rem;
	outline: none;
}

.search input:focus {
	background-color: #000814;
}

.tag {
	background-color: #000814;
	font-weight: bold;
	border-radius: 5px;
	padding: 0.5rem;
}

.tag.green {
	color: rgb(6, 199, 6);
}
.tag.orange {
	color: orange;
}
.tag.red {
	color: red;
}
